body {
  p {
    padding: 0px;
    margin: 0px;
  }
}
.container {
  margin: 0 auto;
  max-width: 1110px !important;
}
.main {
  margin: 120px auto 100px auto;
  max-width: 920px;
  padding: 60px 95px;
}
@media (max-width: 767px) {
  .main {
    margin: 0 auto 100px auto;
    width: 90%;
    padding: 0 12px 60px 12px;
  }
}
.main-style {
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
}
@media (max-width: 567px) {
  .main-style {
    box-shadow: 0px 0 0 #00000029;
    border-radius: 0;
  }
}

.font-Roboto {
  font-family: "Noto Sans TC";
}
//文字字種
.fw-med {
  font-weight: 500;
}
//間距
.pr-15 {
  padding-right: 15px !important;
}
.pl-15 {
  padding-left: 15px !important;
}

@media (min-width: 767px) {
  .ml-30 {
    margin-left: 30px;
  }
}
.pb-22 {
  padding-bottom: 22px;
}
.pb-14-cb {
  padding-bottom: 14px !important;
}
.mb-10-filter{
  margin-bottom: 10px;
}
.img-size {
  max-width: 350px !important;
}

@media (max-width: 767px) {
  .img-size {
    max-width: 100% !important;
  }
  .img-hide-sm{
    display: none;
  }
}
.material-symbols-outlined {
  margin-right: 6px;
  color: $primary;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.btn-direction{
  text-align: right !important;
}
@media (max-width: 567px) {
  .btn-direction{
    text-align: center !important;
  }
}

.border-3-bottom {
  max-width: 100%;
  border-bottom: 3px solid $primary;
}
.border-2-bottom {
  max-width: 100%;
  border-bottom: 2px solid #007572;
}
.inputBox-bg {
  max-width: 100%;
  background: #fafafa;
  border-radius: 0px;
  border-bottom: 1px solid $primary;
  padding: 8px 12px;
}

.bg-gray-1 {
  background: #f7f7f7;
}

.filter-area {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 920px;
}
@media (max-width: 767px) {
  .filter-area {
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
    max-width: 100%;
  }
}
.w-length {
  width: 255px;
}
.select-style {
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.select-style2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"%3E%3C!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cstyle%3Esvg%7Bfill:%2300807e%7D%3C/style%3E%3Cpath d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/%3E%3C/svg%3E');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}


.card {
  width: calc(33.3333% - 1%);
  margin-right: 1%;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  margin-bottom: 40px;
}
/* 在最後一個 card 上移除右邊間距 */
.card:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .card {
    width: calc(50% - 1%); /* 在螢幕寬度小於 768px 時，設定每個 card 的寬度為 50%，再扣除 1% 的右邊間距 */
  }
}
/* 移除每行的最後一個 card 的右邊間距 */
@media (min-width: 768px) {
  .card:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 567px) {
  .card {
    width: 100%; /* 在螢幕寬度小於 568px 時，設定每個 card 的寬度為 100% */
    margin-right: 0; /* 移除右邊間距 */
  }
}
.card-section {
  position: relative;
}
.tag {
  position: absolute;
  padding: 8px 20px;
  left: 0px;
  top: -10px;
}
.tag2 {
  position: absolute;
  padding: 5px 8px;
  left: 0px;
  bottom: -10px;
}
